.dropdown_wrapper
{
    padding: 15px 10px;
    transition: var(--transition);
    display: grid;
    align-items: center;
} 
.dropdown_wrapper:is(:hover, .active)>a
{
    color: var(--dropdown-color);
}

.dropdown_wrapper{
    position: relative;
    perspective: 800px;
}
.dropdown_wrapper .title{
    padding-right: 20px !important;
}
.dropdown_wrapper .title::before{
    content: '';
    position: absolute;
    right: 0;
    top: calc(50% - 5px);
    transform: translateY(-50%) rotate(45deg);
    color: inherit;
    width: 10px;
    height: 10px;
    border: 1px solid;
    border-top-color: transparent;
    border-left-color: transparent;
    transform-origin: center;
}

.dropdown{
    position: absolute;
    right: 0;
    top: 100%;
    width: var(--dropdown-width);
    background-color: var(--dropdown-bg);
    box-shadow: var(--shadow);
    border-radius: 0 0 6px 6px;
    transform-origin: 0 0;
    transform: rotateX(-90deg);
    transition: var(--transition);
    backface-visibility: hidden;
    border-top: 2px solid var(--primary_color);
    opacity: 0;
}
.dropdown>div{
    height: 100%;
    overflow-y: auto;
    display: grid;
    max-height: 250px;
    padding-bottom: 15px;
}

.dropdown::before{
    content: '';
    position: absolute;
    right: 8px;
    bottom: 100%;
    border: 8px solid;
    border-color: transparent transparent var(--primary_color);
}

.dropdown::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 25px;
    width: 100%;
    background-image: linear-gradient(#ffffff00, #ffffff 70%);
}

.dropdown a:nth-last-of-type(1){
    border-radius: 0 0 6px 6px;
}
.dropdown a{
    padding: 8px 15px !important;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dropdown a+a{
    border-top: 1px solid #0002;
}
.dropdown a:hover{
    background-color: var(--dropdown-hover-color);
}
.dropdown_wrapper:hover .dropdown{
    transform: rotateX(0deg);
    opacity: 1;
}