.social_icon_wrapper{
    color: #fff;
    font-size: 14px;
}
.social_icon{
    display: flex;
    gap: 8px;
}
.social_icon > *{
    background-color: #fff;
    border-radius: 2px;
    padding: 3px;
    transition: var(--transition)
}
.social_icon > *:hover{
    background-color: #fff;
}
.social_icon svg{
    transform: scale(0.7)
}